<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Flask - CRUD</title>
  </head>
  <body>
  
  <div class='container'>
	<br><br>
    <h1>Books DB</h1>
	<hr>
	<br>
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_book">Add Book</button>
	
	<!-- Modal -->
	<div class="modal fade" id="add_book" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action='/insert/' method='post'>
			  <div class="form-group row">
				<label class="col-sm-6 col-form-label">Title</label>
				<div class="col-sm-6">
				  <input class="form-control" name="title">
				</div>
			  </div>
			  <div class="form-group row">
				<label class="col-sm-6 col-form-label">Author</label>
				<div class="col-sm-6">
				  <input class="form-control" name="author">
				</div>
			  </div>
			  <div class="form-group row">
				<label class="col-sm-6 col-form-label">Publication Date</label>
				<div class="col-sm-6">
				  <input class="form-control" type='date' name="pub_date">
				</div>
			  </div>
			  <div class="form-group row">
				<label class="col-sm-6 col-form-label">Pages</label>
				<div class="col-sm-6">
				  <input type='number' class="form-control" name="pages">
				</div>
			  </div>
			  <div class="form-group row">
				<label class="col-sm-6 col-form-label">Price</label>
				<div class="col-sm-6">
				  <input type='number' step='0.01' class="form-control" name="price">
				</div>
			  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-success">Submit</button>
		  </div>
		  </form>
		</div>
	  </div>
	</div>
	


<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
	  <th scope="col">Publication Date</th>
      <th scope="col">Pages</th>
	  <th scope="col">Price</th>
	  <th scope="col" colspan='2' style='text-align:center'>Action</th>
    </tr>
  </thead>
  <tbody>
    
		{% for i in data %}
		<tr>
			<th scope="row">{{loop.index}}</th>
			<td>{{i['title']}}</td>
			<td>{{i['author_name']}}</td>
			<td>{{i['publication_date']}}</td>
			<td>{{i['pages']}}</td>
			<td>{{i['price']}}</td>
			<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_book_{{i['id']}}">Edit</button></td>
			
			
			<!-- Modal -->
			<div class="modal fade" id="edit_book_{{i['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <form action="/update/{{i['id']}}/" method='post'>
				  <div class="modal-body">
					  <div class="form-group row">
						<label class="col-sm-6 col-form-label">Title</label>
						<div class="col-sm-6">
						  <input class="form-control" name="title" value="{{i['title']}}">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-6 col-form-label">Author</label>
						<div class="col-sm-6">
						  <input class="form-control" name="author" value="{{i['author_name']}}">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-6 col-form-label">Publication Date</label>
						<div class="col-sm-6">
						  <input class="form-control" type='date' name="pub_date" value="{{i['publication_date']}}">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-6 col-form-label">Pages</label>
						<div class="col-sm-6">
						  <input class="form-control" type='number' name="pages" value="{{i['pages']}}">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-6 col-form-label">Price</label>
						<div class="col-sm-6">
						  <input type='number' step='0.01' class="form-control" name="price" value="{{i['price']}}">
						</div>
					  </div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Update</button>
				  </div>
				  </form>
				</div>
			  </div>
			</div>
			<!-- End Modal -->
			
			
			<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_book_{{i['id']}}">Delete</button></td>
			
			
			<!-- Modal -->
				<div class="modal fade" id="delete_book_{{i['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <form action="/delete/{{i['id']}}/" method='post'>
					  <div class="modal-body">
						  <div class="form-group row">
							<label class="col-sm-12 col-form-label">Do you want to delete the book <span style='font-weight:bold;color:red'>{{i['title']}}</span> ?</label>				
						  </div>			
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Delete</button>
					  </div>
					  </form>
					</div>
				  </div>
				</div>
			<!-- End Modal -->
			
			
		</tr>	
		{% endfor %}
	
  </tbody>
</table>
	
</div>	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>